certifi==2025.1.31
ezdxf==1.4.1
fonttools==4.57.0
geopandas==1.0.1
numpy==2.2.5
packaging==25.0
pandas==2.2.3
pyarrow==19.0.1
pyogrio==0.10.0
pyparsing==3.2.3
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
RapidFuzz==3.13.0
shapely==2.1.0
six==1.17.0
thefuzz==0.22.1
typing_extensions==4.13.2
tzdata==2025.2
